In [3]:
import pandas as pd

df100 = pd.read_csv('data/baseline/train_100.csv')

In [2]:
df100

    score                                               text
0       0  pretty good easy use tried honey mustard balsa...
1       1  every morning drink swallows bottle water add ...
2       1  grew chesapeake bay eaten share well shares cr...
3       1  year dog eager eater loves food old would limi...
4       1  product tastefully presented contents exquisit...
..    ...                                                ...
95      1  ladyfingers fresh delicious even others commen...
96      1  gave gift dear friend tolerate caffeine real c...
97      1  see lot type energy drink infomercials truthfu...
98      1  usually look cheaper products offer filling me...
99      1  chrysanthemu tea reched well unfortunaltely tw...

[100 rows x 2 columns]

In [4]:
labels = df100['score']
sentences = df100['text']

with open('labels_before.txt', 'w') as file:
    file.write('\n'.join(str(label) for label in labels))

with open('sentences_before.txt', 'w') as file:
    file.write('\n'.join(str(sentence) for sentence in sentences))

In [6]:
import string
import unicodedata

# Read the CSV file
data = pd.read_csv('data/baseline/output.csv')

# Remove punctuation from the text column
data['text'] = data['text'].str.replace('[^\w\s]','', regex=True)

# Save the modified DataFrame to a new CSV file
data.to_csv('data/baseline/output3.csv', index=False)